<% if logged_in? %>
  <h1>タスク一覧</h1>
  <p>ユーザーネーム　：<%= current_user.name %></p>
    <%= render 'tasks/tasks', tasks: @tasks %>

<%= link_to '新規タスクの登録ページ', new_task_path, class: "btn btn-primary" %>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

